// scss 巢狀語法：呼叫元素選擇器(標籤選擇器)
// 轉譯後為 後代選擇器 header nav #portofolio {...}
// scss 繼承

// 繼承區  % 變數
%Dn {
    // 不顯示
    display: none;
}
%subnav {
    //頁尾次選單 寬度 與 文字顏色
    width: 50%;
    color: aliceblue;
}

header {
    nav {
        // 屬於 nav 寬度 % ;高度 px ;背景色(暫時)
        width: $NW;
        height: 80px;
        background-color: yellow;

        // 指向清單物件 li
        li {
            // 將 Logo 與 選單 設定為 垂直排列(一列) float
            // float (浮點對齊) 缺點，會自動往上一階層(新圖層)， 所以，父框架(外框架)，若沒有設定高度，系統將會無視存在
            // 解決方式一:父框架(外框架)設定高度 ; 解決方式二:清除 clear 浮動狀態
            float: left;
        }
        // 商標
        #logo {
            // 寬度 8.5等份
            width: $W8 + 5%;
            // 文字尺寸，內縮，水平置中
            font-size: $Tpx * 2;
            font-family: Arial, Helvetica, sans-serif;
            // 內縮：方法1，首行縮排(單行文字)
            text-indent: 30px;
            // 文字水平置中，行距設定(父框架的高度 = 行距的數值)  line-height: 80* 0.15 + px;
            // 方法1 父框架有高度時，父框架的高度 = 行距的數值；方法2 文字尺寸倍數 +3 = 行距
            line-height: $Tpx * (2 + 3);
            background-color: bisque;
        }
        // 選單
        #menu {
            // 寬度 1.5等份
            width: $W1 + 5%;
            height: 80px;
            // 文字水平(行距)、垂直(文字對齊 ---置中)置中
            text-align: center;
            line-height: 80px;
            // 將文字移至裝置之外
            text-indent: -99999px;
            // 背景圖片連結
            background-image: url(../../imgs/icon/000002.svg);
            // 背景圖片對齊(定位點)
            background-position: center;
            // 背景圖片取消重複顯示
            background-repeat: no-repeat;
            // 背景圖片尺寸 auto 自動 cover 符合框架尺寸 contain 置中
            background-size: contain;
            // background-color: blanchedalmond;
        }

        .clear {
            clear: both;
        }

        // 導覽列：只顯示Logo 和 Menu，其餘不顯示
        // 集合寫法，將共同的樣式一同編輯
        #portfolio,
        #about,
        #project,
        #contact {
            @extend %Dn;
        }
    }
}

footer {
    nav {
        #graphic {
            @extend %subnav;
            background-color: rgb(255, 196, 0);
        }
        #audio {
            @extend %subnav;
            background-color: rgb(180, 240, 61);
        }
        #web {
            @extend %subnav;
            background-color: rgb(76, 186, 219);
        }
    }
}
