/* ctrl+/ 開啟註解 */
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id(標籤 自訂 名稱-英文、數字、底線_、唯一) ；class (可重複，共用樣式)*/
// css  呼叫 ID：輸入 #username
header {
    width: 100%;
}
#main {
    /* 寬度 高度 背景色 文字色 */
    width: 100%;
    background-color: rgb(255, 243, 209);
    color: burlywood;
}

// 加入判斷裝置的斷點
// 超小裝置 <576px
@media screen and (max-width: 576px) {
    #main {
        width: 50px;
        background-color: azure;
    }
}

// 小裝置 >= 576px　min-width (最小寬度 含等於)
@media screen and (min-width: 576px) {
    #main {
        width: 70px;
        background-color: orchid;
    }
}

// 平板裝置 >= 768px
@media screen and (min-width: 768px) {
    #main {
        width: 100px;
        background-color: palegoldenrod;
    }
}

// 大平板裝置 >=992px
@media screen and (min-width: 992px) {
    #main {
        width: 120px;
        background-color: palevioletred;
    }
}

// 螢幕裝置 >=1200px
@media screen and (min-wudth: 1200px) {
    #main {
        width: 150px;
        background-color: plum;
    }
}

// 超大螢幕裝置 >=1400px
@media screen and (min-width: 1400px) {
    #main {
        width: 170px;
        background-color: cornsilk;
    }
}
