/* ctrl+/ 開啟註解 */
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id(標籤 自訂 名稱-英文、數字、底線_、唯一) ；class (可重複，共用樣式)*/
// css  呼叫 ID：輸入 #username
header {
    width: 100%;
}
#main {
    /* 寬度 高度 背景色 文字色 */
    width: 100%;
    background-color: rgb(255, 243, 209);
    color: burlywood;
}
