/* ctrl+/ 開啟註解 */
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id(標籤 自訂 名稱-英文、數字、底線_、唯一) ；class (可重複，共用樣式)*/
// css  呼叫 ID：輸入 #username
header {
    width: 100%;
}
#main {
    /* 寬度 高度 背景色 文字色 */
    width: 100%;
    background-color: rgb(255, 243, 209);
    color: burlywood;
}

// 加入判斷裝置的斷點
// 超小裝置 <576px esmall
@media screen and (max-width: 576px) {
    @import "_02esmall.scss";
}

// 小裝置 >= 576px　min-width (最小寬度 含等於) small
@media screen and (min-width: 576px) {
    @import "_03small.scss";
}

// 平板裝置 >= 768px medium
@media screen and (min-width: 768px) {
    @import "_04medium.scss";
}

// 大平板裝置 >=992px large
@media screen and (min-width: 992px) {
    @import "_05large.scss";
}

// 螢幕裝置 >=1200px xlarge
@media screen and (min-wudth: 1200px) {
    @import "_06xlarge.scss";
}

// 超大螢幕裝置 >=1400px xxlarge
@media screen and (min-width: 1400px) {
    @import "_07xxlarge.scss";
}
