@charset "UTF-8";
/* ctrl+/ 開啟註解 */
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id(標籤 自訂 名稱-英文、數字、底線_、唯一) ；class (可重複，共用樣式)*/
/*
網頁使用的單位
寬度 高度 行距 文字 物件的距離 (外間距與內間距)，只要計算的值，都有單位
基礎單位 像素(px)
響應式網頁的單位 百分比(%) vw與vh(裝置可視寬度與高度，新單位)

1.百分比(%)的缺點：高度無法顯示
2.vw與vh：舊瀏覽器(IE)不支援；mac瀏覽器(Safari)，因為手機版需要扣除瀏覽器自帶的功能按鈕(在畫面之下方)。

行距 文字，百分比的單位 em (子物件的設定值會疊加父物件的設定值) 和 rem (不受父物件設定值影響)
*/
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100vw;
  height: auto;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: palevioletred;
  font-weight: 500;
}

header {
  background-color: beige;
}

#main {
  /* 寬度 高度 背景色 文字色 */
  background-color: #fff3d1;
  color: burlywood;
}

@media screen and (max-width: 576px) {
  header nav {
    width: 100vw;
    background-color: #ffecc4;
  }
  header nav li {
    float: left;
  }
  header nav #logo {
    width: 85vw;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    line-height: 65px;
  }
  header nav #menu {
    width: 15vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../imgs/icon/000002.svg);
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: none;
  }
  header #mobilenav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    display: none;
    background-color: rgba(255, 238, 163, 0.897);
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: antiquewhite;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }

  footer .HRLine {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #audio {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .leftline {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .rightline {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #web {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .line {
    width: 20vw;
    height: 30px;
    background-image: url(../../imgs/icon/line.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
  }

  #main #contactbox #contacttitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main #contactbox form {
    width: 75vw;
  }
  #main #contactbox form > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #main #contactbox form > #Namebox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #contactbox form > #Namebox > label {
    width: 100%;
  }
  #main #contactbox form > #Namebox > input {
    width: 75%;
  }
  #main #contactbox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #contactbox form > .Mail > label {
    width: 100%;
  }
  #main #contactbox form > .Mail > input {
    width: 80%;
  }
  #main #contactbox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #contactbox form > .Ques > p {
    width: 100%;
    margin-bottom: 15px;
  }
  #main #contactbox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #main #contactbox form > .Text > label {
    width: 100%;
  }
  #main #contactbox form > .Text > textarea {
    width: 95%;
  }
  #main #contactbox form .E-mail2 {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  header nav li {
    float: left;
  }
  header nav #logo {
    width: 90vw;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    line-height: 65px;
    background-color: bisque;
  }
  header nav #menu {
    width: 10vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../imgs/icon/000002.svg);
  }
  header nav .clear {
    clear: both;
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: none;
  }
  header #mobilenav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    display: none;
    background-color: #f5c4bb;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: antiquewhite;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }

  footer .HRLine {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #audio {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .leftline {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .rightline {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #web {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .line {
    width: 20vw;
    height: 30px;
    background-image: url(../../imgs/icon/line.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #faeba7;
  }
}
@media screen and (min-width: 768px) {
  header nav #logo {
    text-align: center;
    text-indent: 0;
  }
  header nav .clear {
    clear: both;
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: antiquewhite;
  }
}
@media screen and (min-width: 992px) {
  header nav {
    width: 100vw;
    background-color: #ffff44;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #logo {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0;
    background-color: antiquewhite;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 68.8px;
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: block;
  }
  header #menu {
    display: none;
  }

  #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: antiquewhite;
  }

  #main article {
    width: 100vw;
    height: 650px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: tomato;
  }

  footer .HRLine {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer nav {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #audio {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .leftline {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .rightline {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #web {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  address {
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  address .line {
    width: 20vw;
    height: 30px;
    background-image: url(../../imgs/icon/line.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  h6 {
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #faeba7;
  }
}
@media screen and (min-wudth: 1200px) {
  header nav {
    width: 100vw;
    background-color: #37daf7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #logo {
    width: 25vw;
  }
  header nav li {
    width: 18.75vw;
  }
  header nav #logo {
    text-align: center;
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0;
    background-color: #e4b271;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 72px;
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: block;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: antiquewhite;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }

  #menu {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  header nav {
    width: 100vw;
    background-color: #fbbefd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #logo {
    width: 25vw;
  }
  header nav li {
    width: 18.75vw;
  }
  header nav #logo {
    text-align: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0;
    background-color: #e3ffb5;
  }
  header nav li {
    text-align: center;
    font-size: 1.8rem;
    line-height: 72px;
  }
  header nav #portfolio,
header nav #about,
header nav #project,
header nav #contact {
    display: block;
  }

  #menu {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */